* {
    font-family: JetBrainsMono NFM,  san-serif;
}

window {
    background-color: transparent;
    border-radius: 5px;
}

#input {
    box-shadow: none;
    color: #feb301;
    border-radius: 3px;
    border: none;
    background-color: #1b1e36;
    opacity: 0.95;
    margin-bottom: 15px;
}

#input * {
    color: #fef2d0;
}
#scroll {
    /* margin: 30px; */
    margin-top: 0px;
    border-radius: 3px;
    background-color: #272c44;
    opacity: 0.92;
}


#text {
    margin-left: 3px;
    color: #df5a4e;
    background-color: transparent;
}

#entry:selected {
    background-color: transparent;
    border: #f87098 solid 1px;
    border-radius: 5px;
}

#text:selected {
    background-color: unset;
    color: #feb301;
}

#img {
    background-color: transparent;
}
