* {
  all: unset;
  font-family: FiraCode Nerd Font Mono;
}

.bar-main-window {
  font-size: medium;
  font-weight: bold;
  color: $foreground;
  padding: 5px 15px;

  .bar-centerbox > * {
    background-color: $background;
    border-radius: 16px;
    padding: 7px;
  }

  .workspaces {
    padding-right: 5px;

    .workspace-button {
      background-color: $red;
      border-radius: 100px;
      color: transparent;
      padding: 0 0.2rem;
      margin: 0 5px;

      transition:
        padding-left 0.35s ease-in-out,
        padding-right 0.35s ease-in-out,
        background-color 0.35s ease-in-out;
      transition-delay: 0.35s;

      &:hover {
        background-color: mix($red, #000000, 80%);
        transition: background-color 0.1s ease-in-out;
      }

      &.active {
        background-color: $green;
        padding: 0 1rem;
        transition:
          padding-left 0.35s ease-in-out,
          padding-right 0.35s ease-in-out,
          background-color 0.35s ease-in-out;

        &:hover {
          background-color: mix($green, #000000, 80%);
          transition: background-color 0.1s ease-in-out;
        }
      }
    }
  }

  .hardware-info {
    padding-left: 5px;
    padding-right: 2px;
  }

  .icon {
    color: $blue;
    font-size: 14px;
    margin-top: -8px;
    margin-bottom: -8px;

    &.active {
      color: #fef2d0;
    }
  }

  .label-icon-icon {
    font-size: 18px;
    margin-top: -9px;
    margin-bottom: -7px;
  }

  revealer {
    padding-left: 5px;
    padding-right: 5px;
    color: $yellow;
  }

  .left {
    padding-left: 3px;

    * {
      padding-left: 3px;
    }
  }

  .right {
    padding-right: 3px;

    * {
      padding-right: 5px;
    }

    :first-child {
      padding-left: 3px;
    }

    .osk-button {
      margin-right: -8px;
    }
  }

  .battery-low {
    color: red;
  }

  .muted * {
    color: $extras-maroon;
  }
}

.launcher-main-window {
  .main-entry {
    background-color: $background;
    color: $yellow;
    border-radius: 5px;
  }
  .results-box {
    background-color: rgba($background, 0.95);
    border-radius: 5px;

    label.active {
      border-radius: 5px;
      background-color: $background;
      color: $green;
      border: 3px $green solid;
      font-weight: bold;
    }
  }
}

$osk-key-width: 3rem;

.osk-main-window {
  background-color: $extras-mantle;
  margin-bottom: 10px;
  padding: 7px;
  border-radius: 14px;

  .osk-key {
    border-radius: 5px;
    font-size: 3rem;
    min-width: $osk-key-width;
    padding: 3px;
    margin: 3px;

    background-color: $background;

    &:active {
      background-color: $bright-blue;
    }
  }

  .osk-key-active {
    background-color: $green;
  }

  .osk-backspace {
    min-width: $osk-key-width * 2.5;
  }

  .osk-space {
    min-width: $osk-key-width * 7;
  }

  .osk-shift,
  .osk-enter {
    font-size: 2rem;
  }

  .osk-super {
    min-width: $osk-key-width * 1.4;
  }

  .osk-shift-lock {
    font-weight: bold;
    background-color: darken($green, 12);
  }

  .osk-layout-switcher {
    min-width: $osk-key-width * 1.2;
  }

  .osk-close-button {
    background-color: $red;
    border-radius: 50px;
    padding: 4px;
    margin: 0 3px;
    font-weight: bolder;

    &.disabled {
      background-color: darken(grey, 25);
      color: lighten(grey, 25);
    }
  }

  .osk-lock-button {
    background-color: lightslategrey;
    border-radius: 50px;
    padding: 4px;
    margin: 0 3px;

    &.active {
      background-color: $blue;
    }
  }

  .osk-main-box {
    > box:nth-child(2) > .osk-row {
      > .osk-key:nth-child(1) {
        margin-left: $osk-key-width * 1.8;
      }
    }
  }
}
